body {
  background-color: rgb(199 , 241 , 227);
}

h1 {
  font-weight: 900;
  color: rgb(199 , 241 , 227);
}

.bglist {
  background-color: white;
  max-width: 650px;
  border-radius: 5px;
  box-shadow: rgba(0 , 0 , 0 , 0.1) 0 4px 12px;
}

.completed {
  text-decoration: line-through solid black;
  color: green;
}

.fa-check {
  color: green;
}

.itemSelected {
  background-color: gray;
  color: white;
}

.btnmedium {
  min-width: 130px;
}

.cursorPointer {
  cursor: pointer;
}

.done {
  display: none;
}

.success {
  color: rgb(62 , 141 , 99);
}

.primary {
  color: rgb(13 , 110 , 253);
}

.placeholdercolor::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

.warning {
  color: rgb(255 , 193 , 7);
}

.danger {
  color: rgb(220 , 53 , 69);
}

.secondary {
  color: rgb(108 , 117 , 125);
}

@media ( min-width : 768px ) {

  body {
    background: url('./assets/img/todobg.jpg') no-repeat right top rgb(199 , 241 , 227);
    background-size: 400px 300px;
  }

}
