.itemSelected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
  color: #28a745;
}

.btnmedium {
  min-width: 130px;
}

.cursorPointer {
  cursor: pointer;
}

.fa-check {
  color: #28a745;
}

.check {
  display: none;
}
